input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #18181b inset !important;
  -webkit-text-fill-color: #3b82f6;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  /* border: none; */
  /* border: 2px solid #18181b; */
  /* border-bottom: 2px solid white; */
}

.emalInput:-webkit-autofill {
  box-shadow: none;
  outline:none;
  border: none;
  background-color: #18181b;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid white;
  background-color: #18181b;
  color: #3b82f6;
}
