input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 80px #18181b inset !important;
  -webkit-text-fill-color: #3b82f6;
  border-bottom: 2px solid white;
}

input {
    background-color: #18181b;
    color: #3b82f6;
}